API_BASE_URL=https://together-dallaem-api.vercel.app
NEXT_PUBLIC_API_BASE_URL=https://together-dallaem-api.vercel.app
NEXT_PUBLIC_TEAM_ID=sosoeattest
COMMENT_SERVER_URL=https://sosoeat-comment.up.railway.app
KAKAO_MAP_APP_KEY=your_kakao_map_app_key