API_BASE_URL=https://together-dallaem-api.vercel.app
NEXT_PUBLIC_API_BASE_URL=https://together-dallaem-api.vercel.app
NEXT_PUBLIC_TEAM_ID=sosoeattest
NEXT_PUBLIC_AMPLITUDE_API_KEY=your_amplitude_api_key
COMMENT_SERVER_URL=https://sosoeat-comment.up.railway.app
KAKAO_MAP_APP_KEY=your_kakao_map_app_key
NEXT_PUBLIC_KAKAO_MAP_APP_KEY=your_kakao_map_app_key
KAKAO_REST_API_KEY=your_kakao_rest_api_key
NEXT_PUBLIC_KAKAO_JS_KEY=your_kakao_javascript_key
