API_BASE_URL=https://together-dallaem-api.vercel.app
NEXT_PUBLIC_API_BASE_URL=https://together-dallaem-api.vercel.app
NEXT_PUBLIC_TEAM_ID=sosoeatmain
NEXT_PUBLIC_AMPLITUDE_API_KEY=your_amplitude_api_key
NEXT_PUBLIC_SITE_URL=https://sosoeat.com
COMMENT_SERVER_URL=https://sosoeat-comment.up.railway.app
KAKAO_MAP_APP_KEY=your_kakao_map_app_key
NEXT_PUBLIC_KAKAO_MAP_APP_KEY=your_kakao_map_app_key
KAKAO_REST_API_KEY=your_kakao_rest_api_key
NEXT_PUBLIC_KAKAO_JS_KEY=your_kakao_javascript_key
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id
NEXT_PUBLIC_KAKAO_CLIENT_ID=your_kakao_client_id
KAKAO_CLIENT_SECRET=your_kakao_client_secret
NEXT_PUBLIC_KAKAO_REDIRECT_URI_DEV=http://localhost:3000/oauth/kakao/callback
NEXT_PUBLIC_KAKAO_REDIRECT_URI_PROD=https://sosoeat.vercel.app/oauth/kakao/callback
NEXT_PUBLIC_SENTRY_DSN=your_public_sentry_dsn
SENTRY_DSN=your_server_sentry_dsn
SENTRY_AUTH_TOKEN=your_sentry_auth_token
SENTRY_ORG=your_sentry_org
SENTRY_PROJECT=your_sentry_project
SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
